[submodule "external/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
